.nav {
    background: var(--color-blue-dark);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1024px) {
        flex-direction: row;
    }

    a {
        text-decoration: none;
    }
}

.navItem {
    border-left: 5px solid var(--color-blue2);
    color: var(--color-gray-98);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2.0em;
    max-width: 300px;
    padding: 1.0em;
    text-decoration: none;
}

.navItem:hover {
    background: #0b1318;
    color: var(--color-white);
}

.navTitle {
    font-family: var(--fontstack-heading);
    font-size: var(--fontsize-xl);
    font-weight: var(--fontweight-bold);
    line-height: calc(var(--fontsize-xl) * var(--lineheight));
    text-transform: uppercase;
}
