@import '../vars/devices';
@import '../vars/layout';
@import '../vars/typography';

.DAMLayout {
    margin: 0 auto;
    max-width: $content-max-width;
    padding: 0 1.0em 2.0em 1.0em;

    h2 {
        @include fontsize($fontsize-large);
    }

    img {
        max-width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    &__writeup {
        flex: 1;
        padding: 0 0 0.5em 0;

        @include desktop {
            padding: 0 0.5em 0 0;
        }
    }

    &__playlists {
        padding: 0.5em 0 0 0;

        @include desktop {
            padding: 0 0 0 0.5em;
        }
    }
}
