@import '../vars/colors';
@import '../vars/devices';
@import '../vars/typography';

.PostImage {
    padding: 1.0em 0;

    @include desktop {
        padding: 1.0em;
    }

    img {
        height: auto;
        width: 100%;
    }


    span {
        @include fontsize($fontsize-small);
        color: $color-gray-60;
        display: block;
    }
}
