@import '../../sass/colors';
@import '../../sass/devices';
@import '../../sass/layout';
@import '../../sass/typography';

.resume {
    @include fixedwidth();

    .skills {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        h2 {
            font-size: $fontsize-large;
            margin-bottom: 0;
            line-height: $fontsize-large;
        }

        div {
            flex: 1;
            margin-bottom: 1.0em;
            padding: 0;

            @include desktop {
                padding: 0 1.0em;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }

        ul {
            list-style: none;
            margin: 0.25em 0;
            padding-left: 0;
        }
    }
}
