@import '../sass/colors';
@import '../sass/typography';

.PostHeader {
    border-bottom: 1px solid $color-primary;

    h1 {
        @include fontsize($fontsize-xl);
        margin: 0.5em 0 0 0;
    }

    &__date {
        @include fontsize($fontsize-normal);
        color: $color-gray-60;
        font-weight: $fontweight-bold;
        margin: 0;
        text-align: right;
        text-transform: uppercase;
    }
}
