.footer {
    background: var(--color-blue-dark);
    color: var(--color-gray-98);
    display: flex;
    flex-direction: column;
    font-size: var(--fontsize-normal);
    padding: 1.0em;

    /* Desktop Overrides */
    @media (min-width: 1024px) {
        flex-direction: row;
        padding: 7.0em 2.0em 1.0em 2.0em;
    }

    a {
        color: var(--color-link-alt);
        text-decoration: none;
    }

    a:hover {
        color: var(--color-link-alt-hover);
    }

    section {
        flex: 1;
        padding: 1.0em;

        ul {
            list-style: none;
            margin: 0.5em 0;
            padding: 0 0.25em;
        }

        li {
            margin-bottom: 0.5em;
        }

        p {
            margin: 1em 0;
        }
    }
}

.logo {
    width: 100%;

    /* Desktop Overrides */
    @media (min-width: 1024px) {
        width: 90%;
    }

    svg {
        fill: var(--color-white);
    }
}

.social {
    --social-icon-size: 32px;
    margin: 1.0em 0;

    a {
        svg {
            fill: var(--color-link-alt);
        }
    }

    a:first-child {
        svg {
            margin-left: 0;
        }
    }

    a:hover {
        svg {
            fill: var(--color-link-alt-hover);
        }
    }

    svg {
        fill: var(--color-white);
        height: var(--social-icon-size);
        margin: 0.5em;
        width: var(--social-icon-size);
    }
}
